In [20]:

import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

penguins_data = '/content/drive/MyDrive/BIT/penguins.csv'
df = pd.read_csv(penguins_data)
print(df.head())
print("____________________________________________________________________________________")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
   Unnamed: 0 species     island  bill_length_mm  bill_depth_mm  \
0           1  Adelie  Torgersen            39.1           18.7
1           2  Adelie  Torgersen            39.5           17.4
2           3  Adelie  Torgersen            40.3           18.0
3           4  Adelie  Torgersen             NaN            NaN
4           5  Adelie  Torgersen            36.7           19.3

   flipper_length_mm  body_mass_g     sex  year
0              181.0       3750.0    male  2007
1              186.0       3800.0  female  2007
2              195.0       3250.0  female  2007
3                NaN          NaN     NaN  2007
4              193.0       3450.0  female  2007

In [21]:
print(df.info) #Information of Dataset
print("____________________________________________________________________________________")
print(df.describe()) #Showing the summary about the statistical datas
print("____________________________________________________________________________________")

<bound method DataFrame.info of      Unnamed: 0    species     island  bill_length_mm  bill_depth_mm  \
0             1     Adelie  Torgersen            39.1           18.7
1             2     Adelie  Torgersen            39.5           17.4
2             3     Adelie  Torgersen            40.3           18.0
3             4     Adelie  Torgersen             NaN            NaN
4             5     Adelie  Torgersen            36.7           19.3
..          ...        ...        ...             ...            ...
339         340  Chinstrap      Dream            55.8           19.8
340         341  Chinstrap      Dream            43.5           18.1
341         342  Chinstrap      Dream            49.6           18.2
342         343  Chinstrap      Dream            50.8           19.0
343         344  Chinstrap      Dream            50.2           18.7

     flipper_length_mm  body_mass_g     sex  year
0                181.0       3750.0    male  2007
1                186.0       3800.0  female  2007
2                195.0       3250.0  female  2007
3                  NaN          NaN     NaN  2007
4                193.0       3450.0  female  2007
..                 ...          ...     ...   ...
339              207.0       4000.0    male  2009
340              202.0       3400.0  female  2009
341              193.0       3775.0    male  2009
342              210.0       4100.0    male  2009
343              198.0       3775.0  female  2009

[344 rows x 9 columns]>
____________________________________________________________________________________
       Unnamed: 0  bill_length_mm  bill_depth_mm  flipper_length_mm  \
count  344.000000      342.000000     342.000000         342.000000
mean   172.500000       43.921930      17.151170         200.915205
std     99.448479        5.459584       1.974793          14.061714
min      1.000000       32.100000      13.100000         172.000000
25%     86.750000       39.225000      15.600000         190.000000
50%    172.500000       44.450000      17.300000         197.000000
75%    258.250000       48.500000      18.700000         213.000000
max    344.000000       59.600000      21.500000         231.000000

       body_mass_g         year
count   342.000000   344.000000
mean   4201.754386  2008.029070
std     801.954536     0.818356
min    2700.000000  2007.000000
25%    3550.000000  2007.000000
50%    4050.000000  2008.000000
75%    4750.000000  2009.000000
max    6300.000000  2009.000000
____________________________________________________________________________________

In [22]:
print(df.columns) #Showing the titles about columns

Index(['Unnamed: 0', 'species', 'island', 'bill_length_mm', 'bill_depth_mm',
       'flipper_length_mm', 'body_mass_g', 'sex', 'year'],
      dtype='object')

In [45]:
Species_island = df[(df["species"] == "Chinstrap") & (df["island"] == "Dream")]
Info_species_island = Species_island[["species" , "island", "sex", "year"]]
print(Info_species_island.sort_values(by= ["year"], ascending=True))

       species island     sex  year
276  Chinstrap  Dream  female  2007
277  Chinstrap  Dream    male  2007
278  Chinstrap  Dream    male  2007
279  Chinstrap  Dream  female  2007
280  Chinstrap  Dream    male  2007
..         ...    ...     ...   ...
339  Chinstrap  Dream    male  2009
340  Chinstrap  Dream  female  2009
341  Chinstrap  Dream    male  2009
342  Chinstrap  Dream    male  2009
343  Chinstrap  Dream  female  2009

[68 rows x 4 columns]